body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: #fff;
}

header {
    text-align: center;
    padding: 25px 10px;
    background: #1b1b1b;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

h1 { margin-bottom: 5px; }

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 20px;
}

.card {
    background: #222;
    padding: 20px;
    border-radius: 8px;
    width: 150px;
    text-align: center;
    box-shadow: 0 0 8px rgba(255,255,255,0.05);
}

.value {
    font-size: 26px;
    margin-top: 10px;
    font-weight: bold;
}

.status {
    font-size: 22px;
    font-weight: bold;
}

.normal { color: #4caf50; }
.overvoltage { color: #ff4444; }
.undervoltage { color: #ffbb33; }

.chart-section {
    padding: 20px;
    margin: 20px;
    background: #1d1d1d;
    border-radius: 10px;
}

.logs {
    padding: 20px;
}

.logBox {
    background: #000;
    height: 200px;
    overflow-y: auto;
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;

    .device-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 16px;
  margin-top: 20px;
}

.device-card {
  background: #fff;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0 0 12px rgba(0,0,0,0.1);
}

.device-card h3 {
  margin-bottom: 10px;
}
}
